# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating system metadata
.DS_Store
Thumbs.db
.vscode/
.idea/

# Project-specific data and outputs
/data/
/examples/
/output/

# Qt autosave file
mainwindow.ui.autosave 

# Python packages
*.egg-info/
*.egg-info
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec